<div class="user-card">
    <div>
        <img src="<%= userData.avatar %>" alt="<%= userData.name %>" class="user-card__avatar" />
    </div>

    <div>
        <p><span>Id:</span> <%= userData.id %></p>
        <p><span>Name:</span> <%= userData.name %></p>
        <p><span>Email:</span> <%= userData.email %></p>
        <p><span>Phone:</span> <%= userData.phone %></p>
        <p><span>Website:</span> <%= userData.website %></p>
    </div>
</div>