<%- include('./partials/head') %>

<div class="container">
    <div class="all-users-head">
        <h1>All Users!!!</h1>
        <a href="/users/add-new-user" class="btn">Add new user</a>
    </div>

    <% usersList.map((user, index) => { %>
        <div class="row-user">
            <span><%= ++index %>.</span>
            <% const avatarImg = (user.avatar != '' ? user.avatar : '/image/no-image.jpeg') %>
            <img src="<%= avatarImg %>" alt="user.name" class="photo-sm">
            <p><a href="/users/<%= user.id %>" class="row-user__name"><%= user.name %></a></p>
            <a href="/users/<%= user.id %>" class="row-user__view-profile">View Profile</a>
        </div>
    <% }) %>
</div>

<%- include('./partials/foot') %>