<div class="user-card">
    <div>
        <% const avatarImg = (userData.avatar != '' ? userData.avatar : '/image/no-image.jpeg') %>
        <img src="<%= avatarImg %>" alt="<%= userData.name %>" class="user-card__avatar" />
    </div>

    <form id="formUser">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= userData.name %>" />
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="<%= userData.email %>" />
        </div>
        <div>
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" value="<%= userData.phone %>" />
        </div>
        <div>
            <label for="website">Avatar URL:</label>
            <input type="url" id="avatar" name="avatar" value="<%= userData.avatar %>" />
        </div>
        <div>
            <label for="website">Website:</label>
            <input type="url" id="website" name="website" value="<%= userData.website %>" />
        </div>
        <div class="user-card__panel-buttons">
            <div>
                <button class="btn" id="deleteUserData">DELETE</button>
            </div>
            <div>
                <button class="btn-primary" id="updateUserData">UPDATE</button>
            </div>
        </div>
    </form>


    <script src="/js/deleteDataUser.js" type="module"></script>
    <script src="/js/updateDataUser.js" type="module"></script>
</div>

<script>
	function updateItem() {
		const itemId = 1; // ID элемента, который нужно обновить
		const newName = 'Updated Item'; // Новое значение

		axios.put(`/items/${itemId}`, { name: newName })
			.then(response => {
				console.log('Ответ сервера:', response.data);
				alert('Элемент успешно обновлен: ' + response.data.updatedItem.name);
			})
			.catch(error => {
				console.error('Ошибка:', error);
				alert('Произошла ошибка при обновлении элемента');
			});
	}
</script>