<div class="user-card">
    <div>
        <% const avatarImg = (userData.avatar != '' ? userData.avatar : '/image/no-image.jpeg') %>
        <img src="<%= avatarImg %>" alt="<%= userData.name %>" class="user-card__avatar" />
    </div>

    <form id="formUser">
        <div class="input-group" id="name-input-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= userData.name %>" />
            <span class="err-msg"></span>
        </div>

        <div class="input-group" id="email-input-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="<%= userData.email %>" />
            <span class="err-msg"></span>
        </div>
        <div class="input-group" id="phone-input-group">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" value="<%= userData.phone %>" />
            <span class="err-msg"></span>
        </div>
        <div class="input-group" id="avatar-input-group">
            <label for="avatar">Avatar URL:</label>
            <input type="text" id="avatar" name="avatar" value="<%= userData.avatar %>" />
            <span class="err-msg"></span>
        </div>
        <div class="input-group" id="website-input-group">
            <label for="website">Website:</label>
            <input type="text" id="website" name="website" value="<%= userData.website %>" />
            <span class="err-msg"></span>
        </div>

        <div class="user-card__panel-buttons">
            <div>
                <button class="btn" id="deleteUserData">DELETE</button>
            </div>
            <div>
                <button class="btn-primary" id="updateUserData">UPDATE</button>
            </div>
        </div>
    </form>

    <script src="/js/user/deleteDataUser.js" type="module"></script>
    <script src="/js/user/updateDataUser.js" type="module"></script>
</div>